<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @event.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @event.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @event.price %>
</p>

<p>
  <strong>Stock quantity:</strong>
  <%= @event.stock_quantity %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
