<!DOCTYPE html>
<html>
  <head>
    <title>rakurai</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">rakurai</a></h1>
  <% if user_signed_in? %>
        <div class="user_nav grid-6">
            <ul class="user__info">
              <li>
            <%= link_to "マイページ", 'user/:id' , method: :get %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
            </li>
            </ul>
          </span>
            <a class="post" href="/events/new">出演者を集める</a>
            <a class="get" href="/events">イベント一覧</a>
        </div>

  <% else %>
        <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        </div>
        <div class="create_id_guide">
          <a>Memo 登録前・ログアウト後ここに大きい画像でステップガイダンスをする。</a>
        </div>
  <% end %>
      </div>
    </header>


    <%= yield %>


    <footer>
      <p>
        Copyright rakurai 2019.
      </p>
    </footer>
  </body>
</html>
